header {
  background: grey; /* debug */
  width: 100%;
  height: 130px; /* debug */
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#top {
  float: left;
  width: 100%;
  height: 30px; /* debug */
  background: red; /* debug */
}

.grigio.header {
  float: left;
  width: 100%;
  height: 50px; /* debug */
  background: blue; /* debug */
}

.bianco.header {
  float: left;
  width: 100%;
  height: 50px; /* debug */
  background: green; /* debug */
}
