* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background: #cbd6e2;
  width: 100%;
  height: 30vh;
}

ul {
  list-style-type: none;
  height: 100%;
}

li {
  float: left;
  text-align: center;
  height: 100%;
  margin-left: 5%;
  padding-top: 2%;
}

a {
  float: left;
  text-decoration: none;
  height: 100%;
  color: black;
}

img {
  height: 100%;
  margin-top: 2%;
}

/* HEADER */

header::after {
  content: "";
  display: table;
  clear: both;
}

.sxnav {
  float: left;
  width: 50%;
  height: 100%;
  display: inline-block;
}

  /* HEADER: blu #33475b */

#top-container {
  margin: 0 5%;
  height: 100%;
}

#top {
  float: left;
  width: 100%;
  height: 24%;
  background: #33475b;

}

#top::after {
  content: "";
  display: table;
  clear: both;
}

  /* HEADER: grigio #cbd6e2 */

#mid-container {
  margin: 0 10%;
  height: 100%;
}

.grigio.header {
  float: left;
  width: 100%;
  height: 38%;
  background: #cbd6e2;
}

.secondnav {
  margin-top: 3%;
}

  /* HEADER: bianco */

#bottom-container {
  margin: 0 10%;
  height: 100%;
}

.bianco.header {
  float: left;
  width: 100%;
  height: 38%;
  background: #ffffff;
}

/* SEZIONE DI TESTA */

section:after {
  content: "";
  display: table;
  clear: both;
}

.sottoheader {
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url("../img/SfondoHub.png");
  background-size: cover;
}

h1 {
  font-size: 60px;
}

h6 {
  margin: 5% 0;
  font-size: 15px
}

.sxsottoheader {
  width: 50%;
  padding: 8% 0;
  margin-left: 10%;
}

.BottoneFree {
  border-radius: 5px 5px;
  width: 33%;
  padding: 5% 5%;
  background: #ff7a59;
  color: white;
}

/* #f5f8fa GRANDE SEZIONE GRIGIA */

#div1::after {
  content: "";
  display: table;
  clear: both;
}

#div1 {
  float: left;
  width: 100%;
}

#sezionebianca1 {
  content: "";
  display: table;
  clear: both;
}

.sxsezionebianca1 {
  width: 35%;
}

.dxsezionebianca1 {
  width: 65%;
  float: left;
  margin: 10%;
}

.dxsezionebianca2 {
  width: 45%;
  float: left;
  margin: 10%;
}

.sezionegrigia::after {
  content: "";
  display: table;
  clear: both;
}

  /* GRANDE SEZIONE GRIGIA: prima parte grigia */

.sezionegrigia {
  float: left;
  width: 100%;
  background-color: #f5f8fa;
  height: 190vh;
}

.topsezionegrigia {
  content: "";
  display: table;
  clear: both;

}

.topsezionegrigia {
  float: left;
  width: 100%;
  background-color: #f5f8fa;
  height: 28%;
}

  /* GRANDE SEZIONE GRIGIA: parte centrale bianca */

.LearnMore {
  background: orange; /*debug*/
}

.mediasezionegrigia {
  float: left;
  width: 72%;
  margin: 2% 14%;
  background-color: #f5f8fa;
  height: 20%;
}

  /* GRANDE SEZIONE GRIGIA: ultima parte con i tre sottoblocchi */

.bottomsezionegrigia {
  float: left;
  width: 72%;
  margin: 0 14%;
  background-color: #f5f8fa;
  height: 47%;
}

.bottomsezionegrigia::after {
  content: "";
  display: table;
  clear: both;
}

.sottobottomsezgr {
  float: left;
  width: 30%;
  margin-right: 5%;
  background-color: #ffffff;
  height: 90%;
}

.sottobottomsezgrdx {
  float: left;
  width: 30%;
  background-color: #ffffff;
  height: 90%;
}

/* SEZIONE VERDE AL CENTRO */

#sezioneverde::after {
  content: "";
  display: table;
  clear: both;
}

#sezioneverde {
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Tablet-Grass-with-Stroke.svg");
  background-size: cover;
}

  /* SEZIONE VERDE AL CENTRO: didascalia centrale */

  /* SEZIONE VERDE AL CENTRO: quattro colonne con due blocchi per i vari dati */

/* #ffffff PRIMA SEZIONE BIANCA */

#div2::after {
  content: "";
  display: table;
  clear: both;
}

#div2 {
  float: left;
  width: 100%;
}

#sezionebianca1::after {
  content: "";
  display: table;
  clear: both;
}

#sezionebianca1 {
  float: left;
  width: 100%;
  height: 55vh;
  background: #ffffff;
}

.FooterColonna

  /* PRIMA SEZIONE BIANCA: blocco sinistra */

  /* PRIMA SEZIONE BIANCA: blocco destra con i loghi vari */

/* SECONDA SEZIONE BIANCA */

#sezionebianca2::after {
  content: "";
  display: table;
  clear: both;
}

#sezionebianca2 {
  float: left;
  width: 100%;
  height: 65vh;
  background: #ffffff;
}

.Bloccofooter::after {
  content: "";
  display: table;
  clear: both;
}

.Colonnafooter { /* debug */
  float: left;
  width: 25%;
  list-style-type: none;
  margin:
}

.English { /* debug */
  float: left;
  width: 60%;
  margin: 10%;

}

.finefooter { /* debug */
  width: 90%;
  margin: 0 10%;
  border-top: 1px solid white;
}

.finefooter::after { /* debug */
  content: "";
  display: table;
  clear: both;
}

.dxfinefooter { /* debug */
  float: left;
}


  /* SECONDA SEZIONE BIANCA: blocco sinistra */

  /* SECONDA SEZIONE BIANCA: blocco destra con foto */

/* FOOTER #2d3e50 */

footer {
  float: left;
  background: #2d3e50;
  width: 100%;
  height: 100vh;
}

footer::after {
  content: "";
  display: table;
  clear: both;

  /* FOOTER: 4 colonne */




  /* FOOTER: primo blocco sotto le colonne */

  /* FOOTER: ultimo blocco */
